extends index.pug

block style
     link(rel="stylesheet", href="/css/home.css")
     link(rel="stylesheet", href="/css/blogs.css")

block content 
    
    .container
        each blog in blogs
            .blog
            
                header.title #{blog.tit}
                    
                .image
                    img(src= blog.img , alt="")


                
            